appdirs==1.4.3
blessings==1.6
bpython==0.16
certifi==2017.4.17
chardet==3.0.3
curtsies==0.2.11
dj-database-url==0.4.2
Django==1.11.28
django-crispy-forms==1.6.1
greenlet==0.4.12
gunicorn==19.7.1
idna==2.5
olefile==0.44
packaging==16.8
Pillow==4.1.1
psycopg2==2.7.1
Pygments==2.2.0
pyparsing==2.2.0
requests==2.20.0
six==1.10.0
urllib3==1.21.1
wcwidth==0.1.7
